.alert {
  margin: 1rem 0;
  display: block;
  padding: 1rem;
  border-radius: 0.3rem;
  border: 2px solid var(--primary-color);

  p:last-of-type {
    margin-bottom: 0;
  }
}

.alert--error {
  background-color: var(--alert-error-background);
  border-color: transparent;
}

.alert--success {
  background-color: var(--alert-success-background);
  border-color: transparent;
}
