.DarkModeToggle {
  @extend .toggle;
  background: #636b78;
  outline: none;

  img:first-of-type {
    position: absolute;
    left: 4px;
    top: 4px;
    transform: translate(-20px, -20px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.8s ease;
  }

  img:last-of-type {
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 1;
    transform: translateX(0);
    transition: transform 0.5s ease, opacity 0.8s ease;
  }
}

.DarkModeToggle--toggled {
  @extend .toggle--toggled;

  img:first-of-type {
    transform: translate(0);
    opacity: 1;
  }

  img:last-of-type {
    transform: translate(20px, 20px);
    opacity: 0;
  }
}
