.Navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  transition: height 0.3s ease-in;
  background: var(--nav-background);
  padding: 0.8em;
  box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);

  @include small-breakpoint {
    box-shadow: none;
    background: transparent;
    padding: 0.5rem;
    height: 120px;

    &.Navbar--scrolled {
      background: var(--nav-background);
      box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
      height: 60px;
    }
  }
}

.Navbar__container {
  @extend .container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include small-breakpoint {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
}

@include small-breakpoint {
  .Navbar__toggler {
    display: none;
  }
}

// === Collapse zone
.Navbar__collapse {
  display: none;
  width: 100%;

  @include small-breakpoint {
    display: block;
    width: auto;
  }
}

.Navbar__collapse--show {
  display: block;
}

// ==== Nav
.Navbar__nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;

  @include small-breakpoint {
    flex-direction: row;
  }
}

.Navbar__item {
  margin: 0;
  padding: 1rem;

  @include small-breakpoint {
    padding: 0.5rem;
  }
}
