/**
 💅 Simple Info Alert block that is used to provide additional information to reader.
*/

.info-block {
  padding: 10px;
  padding-left: 30px;
  border-radius: 4px;
  background-color: #ebf8ff;
  position: relative;
  margin: 10px 0;

  &:before {
    content: 'ℹ️';
    position: absolute;
    left: 6px;
    top: 5px;
    font-size: 1.2em;
  }

  p {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}
