{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "react-hooks", "import"],
  "extends": ["plugin:react/recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": [
    "gatsby-node.js",
    "gatsby-browser.js",
    "gatsby-config.js",
    "**/@types/*.d.ts",
    "**/types/graphql.ts",
    "node_modules",
    ".cache",
    "static"
  ],
  "rules": {
    "react/prop-types": "off"
  }
}
