{
  "plugins": ["stylelint-scss"],
  "extends": ["stylelint-config-recommended"],
  "rules": {
    "property-no-vendor-prefix": null,
    "no-descending-specificity": null,
    "at-rule-no-unknown": null,
    "declaration-block-single-line-max-declarations": 1
  }
}
