.MainTools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  > div {
    text-align: center;
    margin: 5px;
    img {
      border: 1px solid var(--separator-color);
      max-width: 45px;
      max-height: 45px;
      border-radius: 100%;
    }
  }

  @media (min-width: 500px) {
    > div {
      margin: 10px;
      img {
        max-width: 60px;
        max-height: 60px;
      }
    }
  }

  @media (min-width: 800px) {
    justify-content: space-around;
  }
}
