.flex {
  display: flex;
}

/* Flex Direction */
$flex-direction: (
  'row': row,
  'row-reverse': row-reverse,
  'col': column,
  'col-reverse': column-reverse,
);

@each $className, $value in $flex-direction {
  .flex-#{$className} {
    flex-direction: $value;
  }
}

/* Flex Wrap */
$flex-wrap: (
  'no-wrap': nowrap,
  'wrap': wrap,
  'wrap-reverse': wrap-reverse,
  'col-reverse': column-reverse,
);

@each $className, $value in $flex-wrap {
  .flex-#{$className} {
    flex-wrap: $value;
  }
}

/* Align Items */
$flex-align-items: (
  'stretch': stretch,
  'center': center,
  'end': flex-end,
  'start': flex-start,
  'baseline': baseline,
);

@each $className, $value in $flex-align-items {
  .items-#{$className} {
    align-items: $value;
  }
}

/* Justify Content */
$flex-justify-content: (
  'start': flex-start,
  'center': center,
  'end': flex-end,
  'between': space-between,
  'around': space-around,
);

@each $className, $value in $flex-justify-content {
  .justify-#{$className} {
    justify-content: $value;
  }
}
