$spacing: (
  '0': 0,
  'auto': auto,
  'xxs': var(--space-xxs),
  'xs': var(--space-xs),
  'sm': var(--space-sm),
  'md': var(--space-md),
  'lg': var(--space-lg),
  'xl': var(--space-xl),
  'xxl': var(--space-xxl),
);

@each $name, $value in $spacing {
  .m-#{$name} {
    margin: $value;
  }
  .mt-#{$name} {
    margin-top: $value;
  }
  .mb-#{$name} {
    margin-bottom: $value;
  }
  .mr-#{$name} {
    margin-right: $value;
  }
  .ml-#{$name} {
    margin-left: $value;
  }

  .p-#{$name} {
    padding: $value;
  }
  .pt-#{$name} {
    padding-top: $value;
  }
  .pb-#{$name} {
    padding-bottom: $value;
  }
  .pr-#{$name} {
    padding-right: $value;
  }
  .pl-#{$name} {
    padding-left: $value;
  }
}
