.text-center {
  text-align: center;
}

.font-jetbrains {
  font-family: 'Jetbrains Mono', sans-serif;
}

.text-decoration-none {
  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    text-decoration: none;
  }
}

.text-reset {
  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: inherit;
    font-weight: inherit;
  }
}

/** 📏 Font size utilities */
$sizes: 'xs', 'sm', 'md', 'lg', 'xl', 'xxl', 'xxxl';
@each $size in $sizes {
  .text-#{$size} {
    font-size: var(--text-#{$size});
  }
}

/** ✒️ Font weight utilities  */
$font-weights: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
  'extrabold': 900,
);

@each $name, $weight in $font-weights {
  .font-#{$name} {
    font-weight: $weight;
  }
}

/** Text colors */
$font-colors: (
  'default': var(--color-text),
  'muted': var(--color-text-muted),
);

@each $name, $color in $font-colors {
  .text-#{$name} {
    color: $color;
  }

  .hover:text-#{$name}:hover {
    color: $color;
  }
}
