@import 'variables';

// Base
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $html-font-size;
  line-height: $html-line-height;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: $body-bg;
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $font-size;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  color: $primary-color;
  outline: none;
  text-decoration: none;

  &:focus {
    box-shadow: 0 0 0 0.1rem rgba($primary-color, 0.2);
  }

  &:focus,
  &:hover,
  &:active,
  &.active {
    color: darken($primary-color, 10%);
    text-decoration: underline;
  }

  &:visited {
    color: darken($primary-color, 10%);
  }
}

::-moz-selection {
  background: lighten($primary-color, 30%);
}

::selection {
  background: lighten($primary-color, 30%);
}
