@import 'variables';

:root {
  --textColor: #fff;
  --background: #282c35;
  --linkColor: #37efba;
  --selectionColor: #90ccf4;
}

// Base
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $html-font-size;
  line-height: $html-line-height;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--background);
  color: var(--textColor);
  font-family: $body-font-family;
  font-size: $font-size;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

a {
  display: inline-block;
  color: var(--linkColor);
  outline: none;
  text-decoration: none;

  &:focus {
    box-shadow: 0 0 0 0.05rem var(--linkColor);
  }

  &:focus,
  &:hover,
  &:active,
  &.active {
    filter: brightness(90%);
    text-decoration: underline;
  }

  &:visited {
    filter: var(--linkColor);
  }

  &.with-underline {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 0;
      height: 2px;
      background-color: var(--linkColor);
      transition: all 0.2s;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      text-decoration: none;
      &:after {
        width: 100%;
      }
    }
  }
}

::-moz-selection {
  background: var(--selectionColor);
}

::selection {
  background: var(--selectionColor);
}
