article {
  .content {
    span,
    p,
    ul {
      list-style-type: none;
      li {
        text-indent: -5px;
        &:before {
          display: inline-block;
          content: '-';
          margin-left: 0.5em;
          margin-right: 0.5em;
        }
      }
    }
  }
}
