code,
tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.85em;
  white-space: pre-wrap;
  border: #e3edf3 1px solid;
  background: #f7fafb;
  border-radius: 2px;
  -webkit-font-feature-settings: 'liga' 0;
  -moz-font-feature-settings: 'liga' 0;
  font-feature-settings: 'liga' 0;
}

pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 1.75em;
  border: #e3edf3 1px solid;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  background: #f7fafb;
  border-radius: 3px;
}

pre code,
pre tt {
  font-size: inherit;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: rgb(247, 250, 251);
}
