.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border: 10px solid #607D8B;
  transition: all 150ms ease;
  background: #fff;
  padding: 20px;
  @include large() {
    padding: 60px;
    border-width: 15px;
  }
}