$table-dark-base: #343a40;
$table-light-base: #fff;

table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.75em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border: darken($table-light-base, 5) 1px solid;

  th,
  td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: darken($table-light-base, 5) 1px solid;
  }

  th {
    color: #000;
  }

  thead {
    background-color: darken($table-light-base, 2);
  }

  tbody + tbody {
    border-top: #efefef 2px solid;
  }
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

/** 💅 Dark Theme */
.dark table {
  background-color: $table-dark-base;
  border: lighten($table-dark-base, 5) 1px solid;

  thead {
    background-color: darken($table-dark-base, 5);
  }

  th {
    color: #fff;
  }

  tbody + tbody {
    border-top: #ccc 2px solid;
  }

  th,
  td {
    border-top: lighten($table-dark-base, 5) 1px solid;
  }
}
