// Font sizes
$html-font-size: 20px !default;
$html-line-height: 1.5 !default;
$font-size: 0.8rem !default;
$line-height: 1.5rem !default;

// Other colors
$body-bg: #fff !default;

$body-font-color: lighten(#303742, 5%) !default;

$base-font-family: -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Roboto !default;
$fallback-font-family: 'Helvetica Neue', sans-serif !default;
$body-font-family: $base-font-family, $fallback-font-family !default;

// Core colors
$primary-color: #4bbcf4 !default;
