@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --color-tertiary: theme('colors.sky.50');
    --color-text-muted: hsla(0deg 0% 70%);
    --color-text-secondary: #e2e8f0;
  }

  :root {
    --color-secondary: theme('colors.yellow.500');
    --color-tertiary: theme('colors.sky.900');
    --color-text-muted: hsla(0deg 0% 40%);
    --color-text-secondary: #4a5568;
  }
}
