@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --color-tertiary: theme('colors.sky.50');
    --color-body: #25282c;
    --color-text-muted: hsla(0deg 0% 70%);
    --color-bg-inline-code: theme('colors.gray.700');
    --button-tint-background: transparent;
    --button-tint-background-hover: rgba(15 165 240 / 10%);
    --color-bg-primary: #2d3748;
    --color-bg-secondary: #283141;
    --color-text-secondary: #e2e8f0;
  }

  :root {
    --color-primary: theme('colors.sky.500');
    --color-secondary: theme('colors.yellow.500');
    --color-tertiary: theme('colors.sky.900');
    --color-body: theme('colors.white');
    --color-text-muted: hsla(0deg 0% 40%);
    --color-bg-inline-code: #edf2f7;
    --button-tint-color-hover: var(--color-primary);
    --button-tint-background: transparent;
    --button-tint-background-hover: rgba(15 165 240 / 10%);
    --color-bg-primary: #fff;
    --color-bg-secondary: #edf2f7;
    --color-text-secondary: #4a5568;
  }
}
