@font-face {
  font-family: 'Jetbrains Mono';
  src: url(/fonts/JetBrainsMono-Regular.eot);
  src: url(/fonts/JetBrainsMono-Regular.eot) format('embedded-opentype'),
    url(/fonts/JetBrainsMono-Regular.woff) format('woff'),
    url(/fonts/JetBrainsMono-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
