table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: var(--space-md) 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border: var(--color-table-border) 1px solid;

  th,
  td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border: 1px solid var(--color-table-border);
  }

  th {
    color: var(--color-text-heading);
  }

  thead {
    background-color: var(--color-table-head);
  }

  tbody + tbody {
    border-top: var(--color-table-border) 2px solid;
  }
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
