/* Typography
  =============== */

// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--color-text-heading);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  margin-bottom: var(--space-sm);
  margin-top: var(--space-md);
}

h1,
.h1 {
  font-size: var(--text-xxl);
}

h2,
.h2 {
  font-size: var(--text-xl);
}

h3,
.h3 {
  font-size: var(--text-lg);
}

h4,
.h4 {
  font-size: var(--text-md);
}

h5,
.h5 {
  font-size: var(--text-md);
}

h6,
.h6 {
  font-size: var(--text-sm);
}

// Paragraphs
p {
  margin: 0 0 var(--space-md);
  line-height: var(--body-line-height);
}

// Blockquote
blockquote {
  box-sizing: border-box;
  margin: var(--space-lg) 0;
  padding-left: var(--space-md);
  border-left: 4px solid rgb(230, 236, 241);
  color: var(--color-text-muted);

  p {
    margin: var(--space-xs) 0;
  }
}

// Semantic text elements
a,
ins,
u {
  text-decoration-skip: edges;
  text-decoration-skip-ink: auto;
}

abbr[title] {
  border-bottom: 0.1em dotted;
  cursor: help;
  text-decoration: none;
}

mark {
  background: var(--color-mark-background);
  color: var(--color-mark-text);

  border-radius: var(--border-radius);
  padding: var(--space-xxs);
}

small {
  font-size: var(--text-sm);
}

hr {
  height: 1px;
  color: var(--color-horizontal-rule);
  background-color: var(--color-horizontal-rule);
  border: none;
}

// Keyboard input
kbd {
  color: var(--color-kbd-text);
  background-color: var(--color-kbd-background);
  font-family: var(--font-code);
  border-radius: var(--border-radius);
  display: inline-block;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  font-size: var(--text-sm);
}
