.prism-code {
  @apply mb-5 mt-0 rounded-md pb-5 pl-5 pr-5 pt-10;
  @apply min-w-full overflow-auto bg-transparent;
  -webkit-overflow-scrolling: touch;
}

.code-highlight[data-language=''] .prism-code,
.code-highlight[data-language='noLineNumbers'] .prism-code {
  @apply pt-5;
}

.token {
  @apply inline-block;
}

.highlight-line {
  background-color: rgb(2, 55, 81);
}

/* === Code Container */
.code-highlight {
  @apply relative lg:-ml-16 lg:-mr-16;
}

.code-highlight .token-line {
  @apply -ml-5 -mr-5 min-w-full;
}

.code-highlight pre code {
  @apply float-left min-w-full;
}

/* === Scrollbar */
.code-highlight pre code::-webkit-scrollbar {
  @apply h-2.5;
}
.code-highlight pre code::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
}
.code-highlight pre code::-webkit-scrollbar-track {
  @apply bg-gray-700;
}

/* === Inline Code */
:not(pre) > code {
  @apply rounded-md px-2 py-0.5 text-black dark:text-gray-100;
  @apply border border-gray-300 bg-inline-code;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

/* === Line Numbers */
.line-number-style {
  @apply relative inline-block w-12 text-center;
  @apply select-none;
  opacity: 0.3;
}

/* === Code Title */
.code-title {
  @apply -mb-1.5 px-4 pb-3 pt-2 lg:-ml-16 lg:-mr-16;
  @apply bg-gray-700 text-white;
  @apply rounded-md;
}

/*  === Code Badges */
:root {
  --js-color: #f7df1e;
  --ts-color: #3178c6;
  --jsx-color: #61dafb;
  --css-color: #2965f1;
  --sass-color: #cd6799;
}

.code-highlight pre[class*='language-']:before {
  @apply absolute left-4 top-0;
  @apply rounded-b-md px-2 py-1;
  @apply text-left text-sm uppercase tracking-wide;
  @apply bg-gray-300 text-black;
}

.code-highlight pre[class~='language-js']:before,
.code-highlight pre[class~='language-javascript']:before {
  content: 'js';
  background: var(--js-color);
  color: black;
}

.code-highlight pre[class~='language-typescript']:before {
  content: 'ts';
  background: var(--ts-color);
  color: white;
}

.code-highlight pre[class~='language-jsx']:before {
  content: 'jsx';
  background: var(--jsx-color);
  color: black;
}

.code-highlight pre[class~='language-scss']:before,
.code-highlight pre[class~='language-sass']:before {
  content: 'sass';
  background: var(--sass-color);
  color: white;
}

.code-highlight pre[class~='language-css']:before {
  content: 'css';
  background: var(--css-color);
  color: white;
}

.code-highlight pre[class~='language-text']:before {
  content: 'text';
}
