@import '../../styles/mixins';

.BlogPost__content {
  margin-top: 2rem;
}

.BlogPost header {
  padding-bottom: 4rem;
  padding-top: 6rem;
  position: relative;

  @include small-breakpoint {
    padding-top: calc(4rem + 100px);
  }

  h1 {
    color: var(--title-color);
    font-weight: 900;
    font-size: 3em;
  }

  &:after {
    content: ' ';
    background-color: var(--hero-background);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: cover;
    z-index: -2;
  }

  &:before {
    content: ' ';
    background-image: url('/uploads/scribbles-pattern.svg');
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.15;
    background-size: cover;
    z-index: -1;
  }
}

.BlogPost .article-details {
  margin-bottom: 1em;
  color: var(--muted-text-color);
  small {
    margin: 0 5px;
  }
}
