header.is-fixed {
  /* position: fixed; */
  transform: translate3d(0, -100%, 0);
}

header.can-animate {
  transition:
    transform 0.3s ease,
    visibility 0s 0.3s linear;
}

header.scroll-up {
  transform: translate3d(0, 0, 0);
}

header.is-hidden {
  animation: hideHeader 0.3s ease;
  animation-fill-mode: forwards;
}

header.is-visible {
  animation: showHeader 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes hideHeader {
  0% {
    top: 0;
  }

  100% {
    top: -100px;
  }
}

@keyframes showHeader {
  0% {
    top: -100px;
  }

  100% {
    top: 0;
  }
}
