@use 'sass:math' as *;
/* ---------------------------------------------------------------------------
 System colors

 Notes:
    ~ Not used in classes or components. Extended by context colors.
--------------------------------------------------------------------------- */
// Blue
$blue-color: #1890ff;
$blue-color-light: lighten($blue-color, 8%);
$blue-color-very-light: #cfe7fd;
$blue-color-dark: #0d518f;
$blue-color-very-dark: #172636;
$blue-box-shadow-color: rgba(24, 144, 255, 0.3);
$blue-box-shadow-color-darker: rgba(24, 144, 255, 0.6);
$text-color-on-blue-color-bg: #ffffff;

// Yellow
$yellow-color: #ffcf00;
$yellow-color-light: #ffe04d;
$yellow-color-very-light: #fff6cc;
$yellow-color-dark: #8e7710;
$yellow-color-very-dark: #302c1d;
$yellow-box-shadow-color: rgba(255, 207, 0, 0.3);
$yellow-box-shadow-color-darker: rgba(255, 207, 0, 0.6);
$text-color-on-yellow-color-bg: var(--lm-base-text-color);

// Dark Blue
$dark-blue-color: hsl(209, 86%, 20%);
$dark-blue-color-light: lighten($dark-blue-color, 10%);
$dark-blue-color-dark: darken($dark-blue-color, 10%);

/* ---------------------------------------------------------------------------
 Breakpoints
--------------------------------------------------------------------------- */
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;

:root,
[data-theme='default'] {
  /* ---------------------------------------------------------------------------
  - 🛠 Base variables
  --------------------------------------------------------------------------- */
  --font-primary: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-code: 'Jetbrains Mono', Menlo, 'Roboto Mono', Courier New, monospace;

  --border-radius: 0.3em;
  --height-navbar: 4rem;
  --height-navbar-compact: 3rem;

  /* ---------------------------------------------------------------------------
  - 🔠 Typography
  --------------------------------------------------------------------------- */
  --html-font-size: 20px;
  --text-base-font-size: 0.8rem;
  --text-scale-ratio: 0.1rem;

  --text-sm: calc(var(--text-base-font-size) - var(--text-scale-ratio));
  --text-md: calc(var(--text-base-font-size) + var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) + var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) + var(--text-scale-ratio) * 2);
  --text-xxl: calc(var(--text-xl) + var(--text-scale-ratio) * 3);
  --text-xxxl: calc(var(--text-xxl) + var(--text-scale-ratio) * 2);

  --heading-font-weight: 700;
  --heading-line-height: 1.2;
  --base-line-height: 1.5;
  --code-font-size: var(--text-sm);
  /* ---------------------------------------------------------------------------
  - 🔵 🟠 Context Colors
  --------------------------------------------------------------------------- */
  --color-primary: #{$blue-color};
  --color-primary-light: #{$blue-color-light};
  --color-primary-very-light: #{$blue-color-very-light};
  --color-primary-dark: #{$blue-color-dark};
  --color-primary-very-dark: #{$blue-color-very-dark};
  --color-primary-box-shadow: #{$blue-box-shadow-color};
  --color-primary-box-shadow-darker: #{$blue-box-shadow-color-darker};
  --text-color-on-primary-color-bg: #{$text-color-on-blue-color-bg};

  --color-secondary: #{$yellow-color};
  --color-secondary-light: #{$yellow-color-light};
  --color-secondary-very-light: #{$yellow-color-very-light};
  --color-secondary-dark: #{$yellow-color-dark};
  --color-secondary-very-dark: #{$yellow-color-very-dark};
  --color-secondary-box-shadow: #{$yellow-box-shadow-color};
  --color-secondary-box-shadow-darker: #{$yellow-box-shadow-color-darker};
  --text-color-on-secondary-color-bg: #{$text-color-on-yellow-color-bg};

  --color-tertiary: #{$dark-blue-color};
  --color-tertiary-light: #{$dark-blue-color-light};
  --color-tertiary-dark: #{$dark-blue-color-dark};
  // Text colors
  --color-text: hsl(0, 0%, 20%);
  --color-text-heading: hsl(0, 0%, 20%);
  --color-text-muted: hsla(0, 0%, 40%);
  // page elements colors
  --color-body: hsl(0, 0%, 100%);
  --color-nav: hsl(0, 0%, 100%);
  --color-hero: hsl(0, 0%, 98%);
  // Buttons
  --button-primary-color: var(--text-color-on-primary-color-bg);
  --button-primary-background: var(--color-primary);
  --button-primary-color-hover: var(--text-color-on-primary-color-bg);
  --button-primary-background-hover: var(--color-primary-light);

  --button-tint-color: var(--color-text);
  --button-tint-color-hover: var(--color-primary);
  --button-tint-background: transparent;
  --button-tint-background-hover: rgba(15, 165, 240, 0.1);
  // code
  --color-code-background: hsl(220, 10%, 20%);
  --color-inline-code: var(--color-text-heading);
  --color-inline-code-background: hsla(0, 0%, 0%, 0.06);
  // <table> colors
  --color-table-border: hsl(0, 0%, 90%);
  --color-table-head: hsl(0, 0%, 96%);
  // <a> colors
  --color-link: var(--color-text);
  --color-link-underline: hsl(0, 0%, 85%);
  --color-link-hover: var(--color-text);
  --color-link-underline-hover: var(--color-primary);
  // <kbd> colors
  --color-kbd-text: var(--color-text);
  --color-kbd-background: hsl(0, 0%, 95%);
  // <mark> colors
  --color-mark-text: var(--color-text);
  --color-mark-background: #ffe9b3;
  // Alerts
  --color-alert-info: hsl(217, 100%, 61%);
  --color-alert-success: hsl(151, 68%, 47%);
  --color-alert-warning: hsl(30, 96%, 49%);
  --color-alert-error: hsl(1, 100%, 63%);
  --color-alert-background: hsl(210, 25%, 97%);
  // Other colors
  --color-selection: hsla(47, 91%, 66%, 0.5);
  --color-horizontal-rule: hsla(0, 0%, 0%, 0.1);

  /* ---------------------------------------------------------------------------
  - 📐 Spacing
  --------------------------------------------------------------------------- */
  --space-unit: 1rem;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(1.75 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
}
