---
import classNames from 'classnames';

interface Props {
  type?: 'subtle' | 'ghost';
  url?: string;
  icon?: string;
  loading?: boolean;
}

const { url, type = 'default' } = Astro.props;

const className = classNames('py-2 px-4 text-sm font-semibold rounded-lg transition', {
  'bg-slate-900 hover:bg-slate-700 text-white': type === 'default',
  'border border-slate-300 hover:bg-slate-100': type === 'subtle',
  'bg-transparent hover:bg-slate-100': type === 'ghost',
});
---

<Fragment>
  {
    url ? (
      <a class={className} href={url}>
        <slot />
      </a>
    ) : (
      <button class={className}>
        <slot />
      </button>
    )
  }
</Fragment>
