.Footer {
  color: var(--muted-text-color);
  margin-top: 2.5rem;
  text-align: center;
  font-size: 0.9em;

  .container {
    border-top: 1px solid var(--separator-color);
    padding: 2rem 0 1rem;
  }

  p {
    margin-bottom: 10px;
  }
}
