body.dark {
  -webkit-font-smoothing: antialiased;

  --textColor: #b3b9c5;
  --linkColor: #5bd1d7;
  --selectionColor: #90ccf4;
  --mutedColor: #aaa;
  --titleColor: #cecece;
  --titleLinkColor: #5bd1d7;
  --separatorColor: #454d66;

  --background: #2d2d2d;

  --inlineCode-bg: rgba(255, 255, 255, 0.1);
  --inlineCode-text: ##b3b9c5;
}

.dark :not(pre) > code {
  background-color: var(--inlineCode-bg);
  color: var(--inlineCode-text);
}

.dark pre code {
  box-shadow: none;
}

.dark .info-block {
  background-color: #444;
}
