# This is a basic workflow to help you get started with Actions

name: Lighthouse Report

on:
  # Triggers the workflow on pull request events but only for the master branch
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  lighthouse:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Use GitHub secrets from build environment
    environment: build

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Set Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install Dependencies
        run: npm ci

      - name: Create ENV file
        run: |
          touch .env
          echo GRAPHCMS_PROJECT_API=${{ secrets.GRAPHCMS_PROJECT_API }} >> .env
          echo GRAPHCMS_PROD_AUTH_TOKEN=${{ secrets.GRAPHCMS_PROD_AUTH_TOKEN }} >> .env

      - name: Build
        run: npm run build

      - name: run Lighthouse CI
        run: |
          npm install -g @lhci/cli@0.8.x
          lhci autorun
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
